:root{
    --mainColor: #101014;
    --secondaryColor: #1e1e1e;
    --whiteColor: snow;
}



body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-family: "Roboto Light", sans-serif;
}

body >*{
    outline: 1px solid red;
}

/*Header Section*/

body > header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
}

header > * {
    outline: 1px solid red;
}


header > .place{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

header > .place > img{
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
   filter: invert(100%) sepia(0%) saturate(4229%) hue-rotate(33deg) brightness(120%) contrast(93%);;
}

header > .place > h1{
    font-size: 2rem;
    padding-right: 1rem;
}

header > .place > h2{
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 0.1rem;
    color: hsla(0, 0%, 100%, 0.5);
}




header > form {
    background-color:var(--secondaryColor);
    display: flex;
    width: 20vw;
    border-radius: 10rem;
    justify-items: center;
    margin-left: 5vw;
}

header > form > input{
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    cursor: auto;
    border-radius: 10rem;
}

header > form > .search_button{
    filter: brightness(100);
    fill: var(--whiteColor);
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5rem;
}


/*Main Section*/

body > main{
    height: 80vh;
}

main > .container {
    background-color: var(--secondaryColor);

}


/*Footer Section*/

body > footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.invisible{
    visibility: hidden;
    display: none;
}


/*Media query*/