:root{
    --mainColor: #101014;
    --secondaryColor: #1e1e1e;
    --whiteColor: snow;
}



body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-family: montserrat , sans-serif;
}



/*Header Section*/

body > header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}




header > .place{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

header > .place > img{
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
   filter: invert(100%) sepia(0%) saturate(4229%) hue-rotate(33deg) brightness(120%) contrast(93%);;
}

header > .place > h1{
    font-size: 2rem;
    padding-right: 1rem;
}

header > .place > h2{
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 0.1rem;
    color: hsla(0, 0%, 100%, 0.5);
}




header > form {
    background-color:var(--secondaryColor);
    display: flex;
    width: 20vw;
    border-radius: 10rem;
    justify-items: center;
    margin-left: 5vw;
}

header > form > input{
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    border: none;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    cursor: auto;
    border-radius: 10rem;
}

header > form > .search_button{
    filter: brightness(100);
    fill: var(--whiteColor);
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5rem;
}


header > .date {
    display: flex;
    justify-content: center;
    align-items: center;
}





/*Main Section*/

body > main{
    height: 80vh;
}

main > .container {
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
}


main > .container > * {
    background-color: var(--secondaryColor);
    height: 35vh;
    width: 15vw;
    margin: 5vh 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
}


.city-text{
    font-size: 1.5rem;
    font-weight: 300;
}

.city-temp{
    font-size: 2rem;
    font-weight: 300;
}

.container > .details{
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
}


.container > .hours{
    width: 65vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 5vw;
    align-items: center;
}

.container > .hours > *{
    background-color: var(--secondaryColor);
    font-size: 1.5rem;
    height: 30vh;
    width: 15vw;
    margin: 0 5vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
}


.container > .OtherCity{
    background-color: var(--mainColor);
}

.container > .OtherCity > *{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid snow;
    width: 10vw;
    height: 15vh;
    font-size: 1rem;
    gap:1rem;
}

.container > .OtherCity > div > .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
}

.container > .OtherCity > div > .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

.other_city-text, .other_city-temp, .details, .OtherCity > div > .left, .OtherCity > div > .right{
    font-size: 1.2rem;
    font-weight: 300;
}


/*Footer Section*/


footer{
    height: 10vh;
    width: 100vw;
    font-size: 1em;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    justify-self: flex-end;
    align-items: center;
}

.gitLink{
    margin-top: 1vh;
}

.imgOfGithub{
    transition: transform .7s ease-in-out;
}

.imgOfGithub:hover{
    transform: rotate(360deg);
}



.invisible{
    visibility: hidden;
    display: none;
}


/*Media query*/

@media only screen and (max-width: 796px){
    body{
        overflow: scroll;
    }

    body > header{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        height: 30vh;
    }

    header > form {
        width: 100vw;
        border-radius: 0;
        margin-left: 0;
        flex-direction: row-reverse;
    }
    header > form > .search_button{
        width: 1vw;
    }
    header > form > input{
        width: 500vw;
        height: 2vh;
    }



    main > .container {
        flex-direction: column;
        height: 90vh;
        width: 100vw;
        overflow: scroll;
        align-items: center;
    }


    main > .container > * {
        height: 35vh;
        width: 33vw;
        margin: 3vh 2vw 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0;
    }

    .container > .hours{
        width: 100vw;
        border-radius: 0;
    }

    footer{
        background-color: var(--mainColor);
        position: fixed;
        justify-self: flex-end;
        bottom: 0;
    }
}